apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: bezawada
  labels:
    app.kubernetes.io/name: frontend
    app.kubernetes.io/part-of: fewvlearns
    app.kubernetes.io/component: web
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 30080
