apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: bezawada
  labels:
    app.kubernetes.io/name: backend
    app.kubernetes.io/part-of: fewvlearns
    app.kubernetes.io/component: api
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      nodePort: 30051